<html>
<head>
    <title>Best Restaurant | Cuisines</title>
</head>
<body>
    <h1>{{ cuisine.getName }}</h1>

    <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>

    <p><a href='/'>Home</a></p>

    {% if restaurants is not empty %}
        <p>Here are the restaurants:</p>
        <ul>
            {% for restaurant in restaurants %}
                <li>
                    <h3>{{ restaurant.getRestName }}</h3>
                    <h4>{{ restaurant.getLocation }}</h4>
                    <h4>{{ restaurant.getPriceRange }}</h4>
                    <form action="/restaurants/{{ restaurant.getId }}/edit" method="get">
                        <button type="submit" name="button">Edit restaurant</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <h5>HI</h5>
    {% endif %}

    <h4>Add a restaurant</h4>

    <form action='/restaurants' method='post'>
        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
        <label for='rest_name'>Restaurant Name</label>
        <input id='rest_name' name='rest_name' type='text'>
        <label for='location'>Location:</label>
        <input id='location' name='location' type='text'>
        <label for='price_range'>Price Range</label>
        <select name="price_range">
            <option value="Cheap">Cheap</option>
            <option value="Average">Average</option>
            <option value="Expensive">Expensive</option>
        </select>

        <button type='submit'>Add restaurant</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
